GUI/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reservation_Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReservationServiceIF_NewReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:NewReservation" />
  </wsdl:message>
  <wsdl:message name="ReservationServiceIF_NewReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewReservationResponse" />
  </wsdl:message>
  <wsdl:message name="ReservationServiceIF_ReleaseReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseReservation" />
  </wsdl:message>
  <wsdl:message name="ReservationServiceIF_ReleaseReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="ReservationServiceIF">
    <wsdl:operation name="NewReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ReservationServiceIF/NewReservation" message="tns:ReservationServiceIF_NewReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ReservationServiceIF/NewReservationResponse" message="tns:ReservationServiceIF_NewReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ReservationServiceIF/ReleaseReservation" message="tns:ReservationServiceIF_ReleaseReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ReservationServiceIF/ReleaseReservationResponse" message="tns:ReservationServiceIF_ReleaseReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ReservationServiceIF" type="tns:ReservationServiceIF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewReservation">
      <soap:operation soapAction="http://tempuri.org/ReservationServiceIF/NewReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseReservation">
      <soap:operation soapAction="http://tempuri.org/ReservationServiceIF/ReleaseReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reservation_Controller">
    <wsdl:port name="BasicHttpBinding_ReservationServiceIF" binding="tns:BasicHttpBinding_ReservationServiceIF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/Reservation_Controller" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>