GUI/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" />
  <xs:element name="NewReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="seats" nillable="true" type="q1:ArrayOfSeat" />
        <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewReservationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="ReleaseReservationResult" type="q2:SuccessState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>