GUI/Connected Services/ServiceReference1/AirlineReservations.Model_Layer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNo" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:simpleType name="SuccessState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="BadInput" />
      <xs:enumeration value="DbUnreachable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SuccessState" nillable="true" type="tns:SuccessState" />
  <xs:complexType name="ArrayOfSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeat" nillable="true" type="tns:ArrayOfSeat" />
  <xs:complexType name="Seat">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingNo" type="xs:int" />
      <xs:element minOccurs="0" name="FlightId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SeatId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seat" nillable="true" type="tns:Seat" />
</xs:schema>