GUI/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Flight_ControllerServiceIF_NewFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:NewFlight" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_NewFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewFlightResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_GetFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlight" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_GetFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_ListActiveFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveFlights" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_ListActiveFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_CompleteFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteFlight" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_CompleteFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteFlightResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_RemoveFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFlight" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_RemoveFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFlightResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_GetAllSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeats" />
  </wsdl:message>
  <wsdl:message name="Flight_ControllerServiceIF_GetAllSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeatsResponse" />
  </wsdl:message>
  <wsdl:portType name="Flight_ControllerServiceIF">
    <wsdl:operation name="NewFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/NewFlight" message="tns:Flight_ControllerServiceIF_NewFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/NewFlightResponse" message="tns:Flight_ControllerServiceIF_NewFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/GetFlight" message="tns:Flight_ControllerServiceIF_GetFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/GetFlightResponse" message="tns:Flight_ControllerServiceIF_GetFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/ListActiveFlights" message="tns:Flight_ControllerServiceIF_ListActiveFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/ListActiveFlightsResponse" message="tns:Flight_ControllerServiceIF_ListActiveFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/CompleteFlight" message="tns:Flight_ControllerServiceIF_CompleteFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/CompleteFlightResponse" message="tns:Flight_ControllerServiceIF_CompleteFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/RemoveFlight" message="tns:Flight_ControllerServiceIF_RemoveFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/RemoveFlightResponse" message="tns:Flight_ControllerServiceIF_RemoveFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/GetAllSeats" message="tns:Flight_ControllerServiceIF_GetAllSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Flight_ControllerServiceIF/GetAllSeatsResponse" message="tns:Flight_ControllerServiceIF_GetAllSeats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Flight_ControllerServiceIF" type="tns:Flight_ControllerServiceIF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewFlight">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/NewFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/GetFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveFlights">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/ListActiveFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteFlight">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/CompleteFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFlight">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/RemoveFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeats">
      <soap:operation soapAction="http://tempuri.org/Flight_ControllerServiceIF/GetAllSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightController">
    <wsdl:port name="BasicHttpBinding_Flight_ControllerServiceIF" binding="tns:BasicHttpBinding_Flight_ControllerServiceIF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AirlineReservations.Control_Layer/FlightController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>