GUI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" />
  <xs:element name="NewFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departure" type="xs:dateTime" />
        <xs:element minOccurs="0" name="arrival" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewFlightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="GetFlightResult" nillable="true" type="q1:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="ListActiveFlightsResult" nillable="true" type="q2:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="CompleteFlightResult" type="q3:SuccessState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="RemoveFlightResult" type="q4:SuccessState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AirlineReservations.Model_Layer" minOccurs="0" name="GetAllSeatsResult" nillable="true" type="q5:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>